version: '3'

volumes:
  pgdata:
  static_files:
  uploaded_files:

services:

  app:
    container_name: app
    build:
      context: .
      dockerfile: ./Dockerfiles/web-app/Dockerfile
    volumes:
      - ./src:/src
      - static_files:/static_files
      - uploaded_files:/uploaded_files
    ports:
      - 8000:8000
    command: sh /run_web.sh
    restart: always
    env_file:
      - ./.envs/.web
      - ./.envs/.postgres
      - ./.envs/.gunicorn
    depends_on:
      - postgres
  
  postgres:
    image: postgres:9.6-alpine

    volumes:
      - pgdata:/var/lib/postgresql/data/
    env_file:
      - ./.envs/.postgres
    # environment:
    #   - POSTGRES_USER=user
    #   - POSTGRES_PASSWORD=password
    #   - POSTGRES_DB=db
    ports:
      - 5432:5432
  
  nginx:
    container_name: nginx
    build:
      context: . # We set this context to load the app requirements when building the image
      dockerfile: Dockerfiles/nginx/Dockerfile
    ports:
      - 80:80
    volumes:
      # nginx needs to access static files (readonly) and uploaded files(read+write)
      - static_files:/static_files
      - uploaded_files:/uploaded_files
    depends_on:
      - app
      - postgres